
{% load static %}

<div class="card">

    <!-- product img display -->
<div class="card-img">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }} 's picture">
    {% else %}
    <img src="{% static 'images/placeholder/404.jpg' %}" alt="">
    {% endif %}
</div>


 <!-- product price,name -->
<div class="card-body">
<div class="card-title">
 <h5>
<a href="{% url 'prod_detail' product.id %}">    
    {{ product.name }}
</a>
</h5>  
</div>

<p class="card-text">
   &#8377; {{ product.price }}
</p>

<a href="" class="btn btn-primary">
    Add to cart
</a>
</div>


</div>